<h2>Usuarios</h2>
<hr>

<ul>
    {{#each usuarios}}
        <li>
            {{code}} ) {{first_name}} <strong>{{email}}</strong>
        </li>
    {{/each}}
</ul>
<br>
<a href="/usuarios?page=1">Pág. 1.</a>

{{#if hasPrevPage}}
    <a href="/usuarios?page={{prevPage}}">Pág.Ant.</a>
{{!-- {{else}}
    <a href="/usuarios?page={{prevPage}}">Pág.Ant.</a> --}}
{{/if}}

{{#if hasNextPage}}
    <a href="/usuarios?page={{nextPage}}">Pág.Sig.</a>
{{/if}}

<a href="/usuarios?page={{totalPages}}">Últ. Pág.</a>